@font-face {
	font-family: "DosisRegular";
	src: url("../fonts/Dosis/Dosis-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadPro.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}